.eventPanelHeader {
  background-color: #483a2f;
  color: #fff;
  padding: 5px 15px;
  border-radius: 100px;
}
.eventName {
  font-size: 0.8rem;
}
.cardEventHeaderIcon {
}
.cardEventHeaderIcon img {
  width: 15px;
  transform: rotate(0deg);
  transition: transform 500ms linear;
}
.cardEventHeaderIcon img.open {
  transform: rotate(-180deg);
  transition: transform 500ms linear;
}
.eventPanelBody {
  flex-wrap: wrap;
}
.eventPanelBody > div {
  width: 33.33%;
  margin: 15px 0;
}
.eventPanelBody .eventpannelBody_head,
.videoHead {
  font-family: "DAKBold";
}
.eventPanelBody_body {
  font-size: 0.8rem;
}
.videoHead {
  border-bottom: 1px solid #7b755d;
}
.videoPanel {
  position: relative;
  width: 170px;
  height: 110px;
  display: flex;
  margin: 15px 0;
}
.videoPanel .bg {
  width: 100%;
  height: 100%;
}
.videoPanel .playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}
