.bg-light {
  background-color: #fff !important;
  align-items: flex-end;
}
.navbar-brand {
  padding-bottom: 0;
}
.logo {
  width: 120px;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler img {
  width: 20px;
}
.header_right_container {
  margin-bottom: 10px;
  align-items: center;
}
.title {
  font-family: "DAKBold";
  font-size: 20px;
}
.collapedNavBar {
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 25px 70px -8px #000;
}
.collapedNavBar img {
  width: 10px;
}
.collapedNavBar span {
  color: #000;
}
.nav-item {
  border-bottom: 1px solid #c3bb94;
  padding: 0 15px;
}
.nav-link {
  padding: 1rem 15px;
}
.fullBodyShade {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 8;
}
